@font-face{
    font-family: 'Rubik';
    src : url("../fonts/Rubik-Regular.ttf")
}

$basic-font: Rubik, sans-serif;

//colors
$header-main-color: #FC9A4A;
$header-sub-color: #FFFCFF;
$footer-main-color: #210124;
$discount-color: #F22248;
$bg-color: #F4F4F4;
$white: #ffffff;